In [1]:
import pandas as pd
import numpy as np

1. Import the penguin dataset https://raw.githubusercontent.com/allisonhorst/palmerpenguins/master/inst/extdata/penguins.csv

In [3]:
penguins = pd.read_csv('https://raw.githubusercontent.com/allisonhorst/palmerpenguins/master/inst/extdata/penguins.csv')

2. Create a new columns called ```body_mass_kg``` by transforming the ```body_mass_g``` column into kilograms.

In [9]:
penguins['body_mass_kg'] = penguins['body_mass_g']/1000
penguins.head(3)

  species     island  bill_length_mm  ...  year  body_mass_kg     ratio
0  Adelie  Torgersen            39.1  ...  2007          3.75  2.090909
1  Adelie  Torgersen            39.5  ...  2007          3.80  2.270115
2  Adelie  Torgersen            40.3  ...  2007          3.25  2.238889

[3 rows x 10 columns]

3. Create a new column containiing the division the ```bill_length_mm``` by the ```bill_depth_mm``` column

In [8]:
penguins['ratio'] = penguins['bill_length_mm'] / penguins['bill_depth_mm']
penguins.head(3)

  species     island  bill_length_mm  ...  year  body_mass_kg     ratio
0  Adelie  Torgersen            39.1  ...  2007          3.75  2.090909
1  Adelie  Torgersen            39.5  ...  2007          3.80  2.270115
2  Adelie  Torgersen            40.3  ...  2007          3.25  2.238889

[3 rows x 10 columns]

4. Calculate the median value of the ```body_mass_g``` column both by using a Numpy function and by using the method attached to the column. What do you observe? Can you infer what the problem is?

In [10]:
np.median(penguins['body_mass_g'])

nan

Since some of the elements of the column are ```NaN```, Numpy cannot calculate the median. We would have to use a specific function that properly handles ```Nan``` values:

In [12]:
np.nanmedian(penguins['body_mass_g'])

4050.0

In [13]:
penguins['body_mass_g'].median()

4050.0

In contrast, Pandas knows by default how to deal with missing values.